.breadcrumb {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.breadcrumb__item {
  font-size: 13px;
  margin-right: 10px;
}

.breadcrumb__link {
  color: #019867;
  text-decoration: none;
  position: relative;

  &:hover {
    text-decoration: underline;
  }
}

.breadcrumb__link--active {
  color: #c9c9c9;
  margin-left: 15px;

  &::before {
    content: '/';
    left: -25px;
    top: 0;
    position: absolute;
    margin-left: 10px;
    color: #019867;
  }
  &:hover {
    text-decoration: none;
  }
}
