.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-top: 50px;
}

.breadcrumb__item {
  font-size: 18px;
  position: relative;
  margin-right: 20px;
  &:first-child {
    &::before {
      content: '';
    }
  }

  &::before {
    content: '/';
    left: -23px;
    top: 0;
    position: absolute;
    margin-left: 10px;
    color: white;
  }
}

.breadcrumb__link {
  color: #ffffff;
  text-decoration: none;
  position: relative;

  &:hover {
    text-decoration: none;
    color: white;
  }

  &:hover {
    text-decoration: underline;
  }
}

