.calc-form {
  background-color: $white;
  box-shadow: 0px 0px 17px 4px rgba(85,85,85,0.1);
  margin-top: -80px;
  z-index: 1000;
  position: relative;
  padding: 20px;

  @include media-breakpoint-up(xl) {
    padding: 50px 60px;
  }

}

.calc-form-content {

  @include media-breakpoint-up(xl) {
    display: flex;
    align-items: center;
  }
}

.calc-form-title {
  @include commissioner-font;
  font-size: 30px;
  color: $deep-blue;

  @include media-breakpoint-up(xl) {
    font-size: 40px;
  }
}

.calc-form-select-title {
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  color: $gray-blue;
  padding-left: 30px;
}

.calc-form-select-title--date {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 20px;
    top: 5px;
    left: 0;
    height: 20px;
    background-image: url("../img/date.svg");
    z-index: 1000;
  }
}


.calc-form-select-title--user {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 20px;
    top: 5px;
    left: 0;
    height: 20px;
    background-image: url("../img/people.svg");
    z-index: 1000;
  }
}


.calc-form-input {
  border: 0;
  height: 50px;
  font-size: 30px;
  color: #283a5e;
  font-weight: bold;
  background: url('../img/drop.svg') no-repeat;
  background-position: 99%;
  background-size: 17px;

  @include media-breakpoint-up(xl) {
    font-size: 40px;
  }

  &::placeholder {
    font-size: 30px;
    font-weight: normal;
  }
}

.calc-form-input--number {
  background: none;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #dddddd;

  @include media-breakpoint-up(xl) {
    border-right: 2px solid #dddddd;
    border-bottom: 0;
    width: 240px;
    margin-right: 20px;
    padding-right: 20px;
    white-space: nowrap;
  }

}

.calc-form-note {
  color: #12b1ee;
  font-size: 22px;
  text-align: center;
}
