.consultation {
  width: 100%;
  padding-bottom: 30px;
  background-color: #cd0f2d;
  background-image: url("../img/consultation-bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.consultation__title {
  font-size: 25px;
  color: #ffffff;
  padding-top: 40px;
}