.consultation {
  width: 100%;
  padding-bottom: 30px;
  background-color: #cd0f2d;
  background-image: url("../img/consultation-bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.consultation--call {
  background-color: #5aab19;
  background-image: url("../img/call-bg.jpg");
}

.consultation__title {
  font-size: 25px;
  color: #ffffff;
  padding-top: 40px;
}

.consultation__phone {
  @include commissioner-font;
  color: #ffffff;
  font-size: 38px;

  @include media-breakpoint-up(xl) {
    font-size: 48px;
  }

  &:hover {
    color: #ffffff;

  }
}

.consultation__free-call {
  font-size: 14px;
  font-weight: bold;
  display: block;
  color: #ffffff;

}
