.faq__list {

  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 60px;
  }
}

.faq__item {
  width: 100%;
  position: relative;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.faq__item--phone {
  &::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("../img/support-blue.svg");
    background-repeat: no-repeat;
    top: 0;
  }
}

.faq__item--wa {
  &::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("../img/wa-blue2.svg");
    background-repeat: no-repeat;
    top: 0;
  }
}


.faq__item--viber {
  &::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("../img/viber.svg");
    background-repeat: no-repeat;
    top: 0;
  }
}

.faq__item--tg {
  &::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("../img/tg.svg");
    background-repeat: no-repeat;
    top: 0;
  }
}

.faq__item--fb {
  &::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("../img/facebook.svg");
    background-repeat: no-repeat;
    top: 0;
  }
}

.faq__item--vk {
  &::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("../img/vk-blue.svg");
    background-repeat: no-repeat;
    top: 0;
  }
}


.faq__item-title {
  color: #687693;
  font-size: 18px;
  font-weight: bold;
}

.faq__item-link {
  color: #687693;
  font-size: 18px;

  &:hover {
    color: #687693;
  }
}
