.footer__top {
  background-color: #1e3054;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #394968;

  @include media-breakpoint-up(xl) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer__social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #354565;
  margin-right: 30px;
  width: 60px;
  height: 60px;
}

.footer__social-link {
  width: 30px;
  height: 30px;
}

.footer__social-link--fb {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../img/fb.svg");
    background-repeat: no-repeat;
  }
}

.footer__social-link--insta {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../img/insta.svg");
    background-repeat: no-repeat;
  }
}

.footer__social-link--vk {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../img/vk.svg");
    background-repeat: no-repeat;
  }
}

.footer__mid {
  background-color: #1e3054;
  padding-top: 40px;
  padding-bottom: 60px;
}

.footer__mid-title {
  @include commissioner-font;
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.footer__contact-wrapper {
  display: flex;
  flex-direction: column;
}

.footer__contact {
  font-size: 18px;
  color: #e5e3e3;
  display: inline-block;
  padding-left: 30px;

  &:hover {
    color: #e5e3e3;
  }
}

.footer__contact--tel {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 17px;
    height: 17px;
    background-image: url("../img/phone-footer.svg");
    background-repeat: no-repeat;
  }
}

.footer__contact--mail {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 17px;
    height: 17px;
    background-image: url("../img/mail-footer.svg");
    background-repeat: no-repeat;
  }
}

.footer__nav-item {
  font-size: 16px;

  @include media-breakpoint-up(md) {
    width: 280px;
    margin-bottom: 20px;
  }
}

.footer__nav-link {
  color: #ffffff;
  text-decoration: underline;

  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.footer__bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #192b4e;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__bottom-item {
  font-size: 15px;
  position: relative;
  margin-right: 20px;

  &::after {
    content: '|';
    color: white;
    position: absolute;
    right: -20px;

    @include media-breakpoint-up(md) {
      right: -12px;
    }

    @include media-breakpoint-up(xl) {
      right: -20px;
    }
  }
}

.footer__bottom-item {

  &:last-child {
    &::after {
      content: '';
    }
  }
}

.footer__bottom-link {
  color: white;

  &:hover {
    color: white;
  }
}
