
.header {
  position: absolute;
  z-index: 10000;
  top: 0;
  width: 100%;
}

.header-navbar {
  background-color: rgba(0, 0, 0, 0.4);
}

.header-container {
  padding: 30px 10px;

  @include media-breakpoint-up(xl) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.logo {
  width: 180px;
  @include media-breakpoint-up(xl) {
    width: 260px;
  }

}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-contact {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(xl) {
    flex-direction: row;
    margin-top: 0;
    margin-left: 40px;
  }
}

.header-contact-link {

  font-size: 20px;
  color: $white;
  padding-left: 50px;

  @include media-breakpoint-up(xl) {
    margin-right: 25px;
  }

  &:hover {
    color: $white;
  }
}

.header-phone {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;

  @include media-breakpoint-up(xl) {
    margin-bottom: 0;
  }
  &::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 37px;
    height: 37px;
    background-image: url("../img/support.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.header-wa {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;

  @include media-breakpoint-up(xl) {
    margin-bottom: 0;
  }
  &::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 37px;
    height: 37px;
    background-image: url("../img/wa.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.header-user-links {
  display: flex;
  .svg_icon {
    width: 26px;
    height: 26px;
    fill: #fff;
  }
}

.header-user-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(236, 253, 245, 0.2);
  margin-right: 15px;


}
