
.header {
  position: absolute;
  z-index: 10000;
  top: 0;
  width: 100%;
}

.header--small {
  position: relative;
}

.header-navbar {
  background-color: rgba(0, 0, 0, 0.8);
  @include media-breakpoint-up(xl) {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.header-navbar--small {
  background-color: black;
}

.header-container {
  padding: 30px 10px;

  @include media-breakpoint-up(lg) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.logo {
  width: 180px;
  @include media-breakpoint-up(xl) {
    width: 260px;
  }

}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-contact {
  margin-top: 20px;
  display: flex;
  flex-direction: column;


  @include media-breakpoint-up(md) {
    flex-direction: row;
    margin-top: 0;
    margin-left: 40px;
  }
}

.header-contact-link {

  font-size: 20px;
  color: $white;
  padding-left: 50px;

  @include media-breakpoint-up(md) {
    font-size: 14px;
    margin-right: 25px;
    margin-bottom: 0;
  }

  @include media-breakpoint-up(xl) {
    margin-right: 25px;
    font-size: 20px;

  }

  &:hover {
    color: $white;
  }
}

.header-phone {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 37px;
    height: 37px;
    background-image: url("../img/support.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.header-wa {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
  &::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 37px;
    height: 37px;
    background-image: url("../img/wa.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.header-user-links {
  display: flex;


  @include media-breakpoint-up(md) {
    margin-left: 30px;
  }

  @include media-breakpoint-up(xl) {
   margin-left: 0;
  }
}



.header-user-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(236, 253, 245, 0.2);
  margin-right: 15px;

  @include media-breakpoint-up(md) {
    width: 30px;
    height: 30px;
  }

  @include media-breakpoint-up(xl) {
    width: 50px;
    height: 50px;
  }
}

.header__user-link--user {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 14px;
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    z-index: 1000;

    @include media-breakpoint-up(md) {
      width: 20px;
      height: 20px;
      left: 6px;
    }

    @include media-breakpoint-up(xl) {
      width: 25px;
      height: 25px;
      left: 14px;
    }
  }
}

.header__user-link--search {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 14px;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    z-index: 1000;

    @include media-breakpoint-up(md) {
      width: 20px;
      height: 20px;
      left: 5px;
    }

    @include media-breakpoint-up(xl) {
      width: 25px;
      height: 25px;
      left: 14px;
    }
  }
}

.header__user-link--favorites {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 11px;
    background-image: url("../img/favorites.svg");
    background-repeat: no-repeat;
    z-index: 1000;

    @include media-breakpoint-up(md) {
      width: 20px;
      height: 20px;
      left: 5px;
    }

    @include media-breakpoint-up(xl) {
      width: 25px;
      height: 25px;
      left: 11px;
    }
  }
}


.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}
