.health {
  .img-container {
    width: 70px;
  }
}

.health__list {
  border-bottom: 1px solid #e1ebfe;
  margin-bottom: 25px;

  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
}

.health__list--no-border {
  border: 0;
}

.health__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 295px;
  margin-bottom: 30px;
}

.health__title {
  color: #12b1ee;
  font-size: 22px;
}

.health__link {
  text-align: center;
  color: #687693;
  text-decoration: underline;
  font-size: 18px;
}
