.nav-list {

}

.open-menu {
  position: relative;
  @include media-breakpoint-up(xl) {
    display: none;
  }
}

.hamb-icon {
  position: relative;

  @include media-breakpoint-up(xl) {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    right: 10px;
    top: 5px;
    width: 30px;
    height: 30px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.close-icon {
  @include media-breakpoint-up(xl) {
    display: none;
  }
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../img/close.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.nav-link {
  color: $white;
  font-size: 18px;
  padding-left: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  outline: 0;

  &:focus {
    outline: 0;
  }

  &:active {
    outline: 0;
  }

  @include media-breakpoint-up(md) {
   font-size: 14px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }

  &:hover {
    color: $white;
    text-decoration: underline;
  }
}

.subnav {
  color: $white;

  @include media-breakpoint-up(md) {
    position: absolute;
    width: 300px;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    list-style: none;
  }

  a {
    color: $white;
  }
}
