.nav-list {

}

.open-menu {
  position: relative;
}

.hamb-icon {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    right: 10px;
    top: 5px;
    width: 30px;
    height: 30px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.close-icon {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../img/close.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.nav-link {
  color: $white;
  font-size: 18px;
  padding-left: 0;

  &:hover {
    color: $white;
    text-decoration: underline;
  }
}

.subnav {
  color: $white;

  a {
    color: $white;
  }
}
