.promo {
  position: relative;
  background-color: $black;
  background-repeat: no-repeat;
  height: 950px;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 950px;
    background-image: url("../img/viktoriya.jpg");
    opacity: 0.4;
    z-index: 0;
  }
}

.promo-content {
  padding-top: 290px;
  position: relative;
}

.promo-title {
  font-size: 95px;
  @include commissioner-font;
  color: $white;
}

.promo-desc {
  color: $white;
  font-size: 25px;
  display: inline-block;
  margin-top: 45px;
}

.promo-button {
  width: 250px;
  height: 70px;
  margin-top: 60px;
}
