.reservation {
  background-color: #12b1ee;
  padding: 20px;

  @include media-breakpoint-up(xl) {
    padding: 40px 35px;
  }

  .about-call-me {
    @include media-breakpoint-up(xl) {
      width: 300px;
      height: 65px;
      margin-right: 10px;
    }
  }
}

.reservation__title {
  color: #ffffff;
  font-size: 30px;
  @include commissioner-font;

  @include media-breakpoint-up(xl) {
    font-size: 40px;
  }
}

.city-sanatoryes__rate-wrapper {
  @include media-breakpoint-up(xl) {
    padding-left: 25px;
  }
}

.reservation__title--city {
  text-align: center;
  font-size: 36px;
}

.reservation__form {
  background-color: white;
  padding: 40px 20px 20px;
}

.reservation__subtitle {
  font-size: 24px;
  color: white;
  text-align: center;
}