.rooms-title {
  text-align: center;
  font-size: 40px;
  @include media-breakpoint-up(md) {
    font-size: 50px;
  }
}

.rooms__wrapper {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.rooms-item {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 16px 0px rgba(180,179,179,0.37);
  padding-bottom: 20px;
  margin-bottom: 20px;

  @include media-breakpoint-up(md) {
    width: 24%;
    margin-right: 10px;

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }

  @include media-breakpoint-up(xl) {
    width: 347px;
    margin-right: 10px;

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}

.rooms-type {
  font-size: 18px;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
}

.rooms-price {
  font-size: 22px;
  color: #000000;
  padding-left: 10px;
}

.rooms-price-note {
  font-size: 12px;
  color: #12b1ee;
  margin-left: 20px;
}
