@font-face {
  font-family: "Golos";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Golos Text_Regular.woff2");
  src: url("../fonts/Golos Text_Regular.woff");
}

@font-face {
  font-family: "Golos";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Golos Text_Bold.woff2");
  src: url("../fonts/Golos Text_Bold.woff");
}

@font-face {
  font-family: "Golos";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Golos Text_Medium.woff2");
  src: url("../fonts/Golos Text_Medium.woff");
}

@font-face {
  font-family: 'flexslider-icon';
  src: url('../fonts/flexslider-icon.eot');
  src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
